<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>B789DADF-2B9E-4081-B77C-B5C122FA3A9F.playgroundpage</string>
		<string>31B71056-2E1E-43A6-8037-5EF4C958B6DD.playgroundpage</string>
		<string>C0CCC5FC-2DCD-4FB2-83F1-3D756113CAB6.playgroundpage</string>
	</array>
</dict>
</plist>
