<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseContentIdentifier</key>
	<string>com.apple.playgrounds.blank</string>
	<key>BaseContentVersion</key>
	<string>1.0</string>
	<key>ContentType</key>
	<string>PlaygroundBookUserEdit</string>
	<key>Diffs</key>
	<dict>
		<key>Chapters/Chapter1.playgroundchapter/Pages/31B71056-2E1E-43A6-8037-5EF4C958B6DD.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/B789DADF-2B9E-4081-B77C-B5C122FA3A9F.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/B789DADF-2B9E-4081-B77C-B5C122FA3A9F.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/C0CCC5FC-2DCD-4FB2-83F1-3D756113CAB6.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/C0CCC5FC-2DCD-4FB2-83F1-3D756113CAB6.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/My Playground.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/My Playground.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/UserManifest.plist</key>
		<string>Added</string>
		<key>UserModules/LeetCode2020Dec.playgroundmodule/Sources/000-LeetCode2020Dec.swift</key>
		<string>Added</string>
		<key>UserModules/LeetCodeProblems.playgroundmodule/Sources/000-DebugLog.swift</key>
		<string>Added</string>
		<key>UserModules/LeetCodeProblems.playgroundmodule/Sources/000-ListNode.swift</key>
		<string>Added</string>
		<key>UserModules/LeetCodeProblems.playgroundmodule/Sources/000-Solution.swift</key>
		<string>Added</string>
		<key>UserModules/LeetCodeProblems.playgroundmodule/Sources/001-twoSum.swift</key>
		<string>Added</string>
		<key>UserModules/LeetCodeProblems.playgroundmodule/Sources/002-Add Two Numbers.swift</key>
		<string>Added</string>
		<key>UserModules/LeetCodeProblems.playgroundmodule/Sources/026-Remove Duplicates from Sorted Array.swift</key>
		<string>Added</string>
		<key>UserModules/LeetCodeProblems.playgroundmodule/Sources/121-Best Time to Buy and Sell Stock.swift</key>
		<string>Added</string>
		<key>UserModules/LeetCodeProblems.playgroundmodule/Sources/122-Best Time to Buy and Sell Stock II.swift</key>
		<string>Added</string>
		<key>UserModules/LeetCodeProblems.playgroundmodule/Sources/189-Rotate Array.swift</key>
		<string>Added</string>
		<key>UserModules/LeetCodeTopInterView.playgroundmodule/Sources/000-DebugLog.swift</key>
		<string>Added</string>
		<key>UserModules/LeetCodeTopInterView.playgroundmodule/Sources/000-LeetCodeInterview.swift</key>
		<string>Added</string>
		<key>UserModules/LeetCodeTopInterView.playgroundmodule/Sources/001-Remove Duplicates from Sorter Array.swift</key>
		<string>Added</string>
		<key>UserModules/LeetCodeTopInterView.playgroundmodule/Sources/002-Best Time to Buy and Sell Stock II.swift</key>
		<string>Added</string>
		<key>UserModules/SortAlgorithm.playgroundmodule/Sources/000-DebugLog.swift</key>
		<string>Added</string>
		<key>UserModules/SortAlgorithm.playgroundmodule/Sources/000-SortAlgorithm.swift</key>
		<string>Added</string>
		<key>UserModules/SortAlgorithm.playgroundmodule/Sources/BubbleSort.swift</key>
		<string>Added</string>
		<key>UserModules/SortAlgorithm.playgroundmodule/Sources/InsertionSort.swift</key>
		<string>Added</string>
		<key>UserModules/SortAlgorithm.playgroundmodule/Sources/MergeSort.swift</key>
		<string>Added</string>
		<key>UserModules/SortAlgorithm.playgroundmodule/Sources/SelectionSort.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/SharedCode.swift</key>
		<string>Removed</string>
		<key>UserModules/Utils.playgroundmodule/Sources/randomList.swift</key>
		<string>Added</string>
	</dict>
	<key>FormatVersion</key>
	<integer>2</integer>
	<key>UpdatedContentVersion</key>
	<string>1.0</string>
</dict>
</plist>
