<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseContentIdentifier</key>
	<string>com.apple.playgrounds.blank</string>
	<key>BaseContentVersion</key>
	<string>1.0</string>
	<key>ContentType</key>
	<string>PlaygroundBookUserEdit</string>
	<key>Diffs</key>
	<dict>
		<key>Chapters/Chapter1.playgroundchapter/Pages/My Playground.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/My Playground.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/UserManifest.plist</key>
		<string>Added</string>
		<key>UserModules/Problems.playgroundmodule/Sources/000-ListNode.swift</key>
		<string>Added</string>
		<key>UserModules/Problems.playgroundmodule/Sources/000-Solution.swift</key>
		<string>Added</string>
		<key>UserModules/Problems.playgroundmodule/Sources/001-twoSum.swift</key>
		<string>Added</string>
		<key>UserModules/Problems.playgroundmodule/Sources/002-Add Two Numbers.swift</key>
		<string>Added</string>
		<key>UserModules/SortAlgrithm.playgroundmodule/Sources/000-SortAlgrithm.swift</key>
		<string>Added</string>
		<key>UserModules/SortAlgrithm.playgroundmodule/Sources/BubbleSort.swift</key>
		<string>Added</string>
		<key>UserModules/SortAlgrithm.playgroundmodule/Sources/InsertionSort.swift</key>
		<string>Added</string>
		<key>UserModules/SortAlgrithm.playgroundmodule/Sources/SelectionSort.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/SharedCode.swift</key>
		<string>Removed</string>
	</dict>
	<key>FormatVersion</key>
	<integer>2</integer>
	<key>UpdatedContentVersion</key>
	<string>1.0</string>
</dict>
</plist>
